@model ResetPasswordDto
@{
}

<div class="mx-auto rounded border p-4" style="width: 500px">
	<h2 class="text-center mb-3">Reset Password</h2>
	<hr />

	@if (ViewBag.ErrorMessage != null)
	{
		<div class="alert alert-danger">
			@ViewBag.ErrorMessage
		</div>
	}
	else if (ViewBag.SuccessMessage != null)
	{
		<div class="alert alert-success">
			@ViewBag.SuccessMessage
		</div>
	}
	<form method="post">
		<div class="mb-3">
			<label class="form-label">Email</label>
			<input class="form-control" asp-for="Email" />
			<span class="text-danger" asp-validation-for="Email"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">New Password</label>
			<input class="form-control" type="password" asp-for="Password" />
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Confrirm Password</label>
			<input class="form-control" type="password" asp-for="ConfirmPassword" />
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
		</div>
		<div class=" row mb-3">
			<div class=" col d-grid">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
			<div class="col d-grid">
				<a asp-action="Login" asp-controller="Account" class="btn btn-secondary" role="button">Log In</a>
			</div>
		</div>
	</form>
</div>